$colors: (
	white: #ffffff,
	black: #000000,
	gray: #4f4f4f,
	day0: #b9a6b9,
	day1: #6c5f70,
	oleaginosas: #be7646,
	frutas: #ec4912,
	leguminosas: #febb75,
	verduras: #8fae08,
	carnes: #b94e46,
	carboidratos: #fa6b31
);
